body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#indexShape27
{
   border-width: 0;
}
#indexImage24
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexShape7
{
   border-width: 0;
}
#indexShape2
{
   border-width: 0;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText2 div
{
   text-align: right;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText3 div
{
   text-align: right;
}
#indexShape1
{
   border-width: 0;
}
#indexLayer2
{
   background-color: transparent;
   background-image: url(images/bg1.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#indexLayer3
{
   background-color: transparent;
}
#indexShape3
{
   border-width: 0;
}
#wb_indexText5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#wb_indexText6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_indexText7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText7 div
{
   text-align: left;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText8 div
{
   text-align: left;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#indexShape4
{
   border-width: 0;
}
#indexShape5
{
   border-width: 0;
}
#indexShape6
{
   border-width: 0;
}
#indexShape8
{
   border-width: 0;
}
#indexImage1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText4 div
{
   text-align: left;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText10 div
{
   text-align: left;
}
#indexImage4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#indexImage6
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#indexImage7
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#indexImage8
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText14 div
{
   text-align: left;
}
#indexImage9
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText15 div
{
   text-align: left;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText16 div
{
   text-align: center;
}
#indexEditbox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#indexEditbox2
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: "Harmonia Sans Pro Cyr";
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#indexButton1
{
   border: 0px #A9A9A9 solid;
   background-color: #DC143C;
   color: #FFFFFF;
   font-family: "Intro ";
   font-weight: normal;
   font-size: 19px;
   -moz-box-shadow: 3px 3px 0px #696969;
   -webkit-box-shadow: 3px 3px 0px #696969;
   box-shadow: 3px 3px 0px #696969;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText17 div
{
   text-align: left;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#indexLayer4
{
   background-color: transparent;
   background-image: url(images/bg2.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#wb_indexText19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText19 div
{
   text-align: left;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText20 div
{
   text-align: left;
}
#wb_indexText21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText21 div
{
   text-align: right;
}
#indexLayer5
{
   background-color: transparent;
}
#wb_indexText28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText28 div
{
   text-align: center;
}
#wb_indexText22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText22 div
{
   text-align: center;
}
#indexImage12
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage13
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage14
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage15
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage16
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage17
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexShape9
{
   border-width: 0;
}
#indexShape10
{
   border-width: 0;
}
#indexShape11
{
   border-width: 0;
}
#indexShape12
{
   border-width: 0;
}
#indexShape13
{
   border-width: 0;
}
#indexShape14
{
   border-width: 0;
}
#wb_indexText24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText24 div
{
   text-align: center;
}
#wb_indexText23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText23 div
{
   text-align: center;
}
#wb_indexText25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText25 div
{
   text-align: center;
}
#wb_indexText26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText26 div
{
   text-align: left;
}
#wb_indexText27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText27 div
{
   text-align: center;
}
#wb_indexText29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText29 div
{
   text-align: center;
}
#indexLayer6
{
   background-color: transparent;
   background-image: url(images/bg2new.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#wb_indexText30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText30 div
{
   text-align: center;
}
#wb_indexText31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText31 div
{
   text-align: left;
}
#wb_indexText32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText32 div
{
   text-align: right;
}
#wb_indexText33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText33 div
{
   text-align: center;
}
#indexShape15
{
   border-width: 0;
}
#indexLayer7
{
   background-color: transparent;
}
#wb_indexText34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText34 div
{
   text-align: center;
}
#indexImage18
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText35 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText35 div
{
   text-align: left;
}
#indexImage19
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText37 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText37 div
{
   text-align: left;
}
#indexImage20
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText36 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText36 div
{
   text-align: left;
}
#indexImage21
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText38 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText38 div
{
   text-align: left;
}
#wb_indexText39 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText39 div
{
   text-align: left;
}
#indexLayer8
{
   background-color: transparent;
   background-image: url(images/bg2new2.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#wb_indexText40 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText40 div
{
   text-align: center;
}
#wb_indexText41 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText41 div
{
   text-align: center;
}
#wb_indexForm1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#wb_indexForm2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#wb_indexText42 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText42 div
{
   text-align: left;
}
#indexEditbox31
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#wb_indexText43 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText43 div
{
   text-align: left;
}
#indexEditbox4
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: "Harmonia Sans Pro Cyr";
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#indexButton2
{
   border: 0px #A9A9A9 solid;
   background-color: #DC143C;
   color: #FFFFFF;
   font-family: "Intro ";
   font-weight: normal;
   font-size: 19px;
   -moz-box-shadow: 3px 3px 0px #696969;
   -webkit-box-shadow: 3px 3px 0px #696969;
   box-shadow: 3px 3px 0px #696969;
}
#indexLayer9
{
   background-color: transparent;
}
#wb_indexText44 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText44 div
{
   text-align: center;
}
#wb_indexText45 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText45 div
{
   text-align: left;
}
#wb_indexText46 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText46 div
{
   text-align: left;
}
#wb_indexText47 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText47 div
{
   text-align: left;
}
#wb_indexText48 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText48 div
{
   text-align: left;
}
#wb_indexText49 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText49 div
{
   text-align: left;
}
#wb_indexText50 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText50 div
{
   text-align: left;
}
#wb_indexText51 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText51 div
{
   text-align: left;
}
#wb_indexText52 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText52 div
{
   text-align: left;
}
#wb_indexText53 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText53 div
{
   text-align: left;
}
#indexShape16
{
   border-width: 0;
}
#indexShape17
{
   border-width: 0;
}
#indexShape18
{
   border-width: 0;
}
#indexShape19
{
   border-width: 0;
}
#indexShape20
{
   border-width: 0;
}
#indexShape21
{
   border-width: 0;
}
#indexShape22
{
   border-width: 0;
}
#indexShape23
{
   border-width: 0;
}
#indexShape24
{
   border-width: 0;
}
#indexLayer10
{
   background-color: transparent;
   background-image: url(images/brick-pattern-set-2-screenshots-4.png);
   background-repeat: repeat;
   background-position: center center;
   filter: alpha(opacity=70);
   opacity: 0.70;
}
#indexLayer11
{
   background-color: transparent;
}
#wb_indexText55 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText55 div
{
   text-align: center;
}
#indexPhotoGallery1
{
   border-spacing: 0px;
   width: 100%;
   height: 100%;
}
#indexPhotoGallery1 .image
{
   padding: 8px 8px 8px 8px;
   text-align: center;
   vertical-align: top;
}
#indexPhotoGallery1 .caption
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: center;
   text-decoration: none;
   height: 16px;
   padding: 0;
}
#indexPhotoGallery1 .image img
{
   border-width: 0;
}
#indexPhotoGallery1_img0
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img1
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img2
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img3
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img4
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img5
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img6
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img7
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img8
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img9
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img10
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img11
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img12
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img13
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img14
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img15
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img16
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img17
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img18
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img19
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img20
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img21
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img22
{
   width: 197px;
   height: 197px;
}
#indexPhotoGallery1_img23
{
   width: 197px;
   height: 197px;
}
.ui-draggable-dragging
{
   -webkit-transform: rotate(0deg) scale(1.2) !important;
   -moz-transform:    rotate(0deg) scale(1.2) !important;
   -ms-transform:     rotate(0deg) scale(1.2) !important;
   -o-transform:      rotate(0deg) scale(1.2) !important;
   transform:         rotate(0deg) scale(1.2) !important;
}
#indexLayer12
{
   background-color: transparent;
   background-image: url(images/bg2.jpg);
   background-repeat: repeat;
   background-position: center center;
}
#wb_indexText54 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText54 div
{
   text-align: center;
}
#wb_indexText56 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText56 div
{
   text-align: center;
}
#wb_indexForm3
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#wb_indexText57 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText57 div
{
   text-align: left;
}
#indexEditbox5
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#wb_indexText58 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText58 div
{
   text-align: left;
}
#indexEditbox6
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: "Harmonia Sans Pro Cyr";
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#indexButton3
{
   border: 0px #A9A9A9 solid;
   background-color: #DC143C;
   color: #FFFFFF;
   font-family: "Intro ";
   font-weight: normal;
   font-size: 19px;
   -moz-box-shadow: 3px 3px 0px #696969;
   -webkit-box-shadow: 3px 3px 0px #696969;
   box-shadow: 3px 3px 0px #696969;
}
#indexLayer13
{
   background-color: #FFFFFF;
}
#wb_indexText60 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText60 div
{
   text-align: right;
}
#wb_indexText61 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText61 div
{
   text-align: right;
}
#indexShape25
{
   border-width: 0;
}
#wb_indexText62 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText62 div
{
   text-align: center;
}
#indexLayer1
{
   background-color: #FFFFFF;
}
#indexImage2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage22
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText63 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText63 div
{
   text-align: center;
}
#indexImage25
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage23
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage11
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage10
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText64 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText64 div
{
   text-align: left;
}
